<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Food Story</h1>
    <p class="lead">Kết nối để chia sẻ câu chuyện du lịch ẩm thực của bạn và nhận đề xuất từ ​​những người dùng khác về các món ăn đặc sản tại một điểm đến cụ thể</p>
    <a class="btn btn-lg btn-primary" href="posts/new" role="button">Create a new post</a>
    <a class="btn btn-lg btn-primary" href="posts/" role="button">View Post</a>
  </div>
</main>
