<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Food Story</h1>
    <p class="lead">A website shared your food stories.</p>
    <a class="btn btn-lg btn-primary" href="posts/new" role="button">Create a new post</a>
  </div>
</main>
